@{
    ViewData["Title"] = "Esempio uso metodo Put";
    ViewBag.TitoloPagina = "Sono in Azienda tramite PUT";
}

@model MvcMovie.Models.EsitoOperazionePut;
<h1>@ViewData["Message"]</h1>
<br/>
<h1>@Model.sEsito</h1>